.months{
  display: flex;
  margin: 40px;
}
.year{
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: auto;
  margin-top: 40px;
}
.year fieldset{
  border: none;
}